.imputForm {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;

  .imputIcon {
    position: absolute;
    top: 25%;
    left: 8px;
  }

  .input {
    width: 220px;
    padding: 8px 8px 8px 40px;
    background-color: #f0eded;
    border: none;
    border-radius: 8px;
  }

  .containerSortBtn {
    display: flex;
    gap: 4px;
    .sortBtn {
      padding: 8px;
      border-radius: 8px;
      background-color: #f0eded;
      color: grey;
    }
    .sortBtn:hover,
    .sortBtn:focus {
      background-color: lightgrey;
    }
  }
}
