.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerTrips {
  display: flex;
  gap: 24px;
  width: 680px;
  height: 195px;
  overflow-x: scroll;

  .addTripsBtn {
    height: 150px;
    width: 150px;
    font-weight: 500;
  }
}
